{{ define "layout" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="//projects.g-node.org/assets/gnode-bootstrap-theme/1.1.0-snapshot/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/png"
          href="//projects.g-node.org/assets/gnode-bootstrap-theme/1.1.0-snapshot/img/favicon.png">

    <title>G-Node GIN</title>
</head>
<body>
    <div>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand-gin" href="{{ template "ginui" . }}"></a>
                </div>
            </div>
        </nav>

        <div class="container main-container">
            {{ template "content" . }}
        </div>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//projects.g-node.org/assets/gnode-bootstrap-theme/1.1.0-snapshot/js/bootstrap.min.js"></script>
</body>
</html>
{{ end }}
