{{ define "content" }}
<h1>Approve Scopes</h1>
<hr /><br>
<p class="larger">
    The client <strong>{{ .Client }}</strong> requests your approval for accessing the following scopes on your behalf:
</p>
<form action="/oauth/approve" method="post">
    {{ range $scope, $description := .Scope }}
    <div class="form-group">
        <label for="scope-{{ $scope }}">
            <span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span> {{ $description }}
            <input type="hidden" id="scope-{{ $scope }}" name="scope" value="{{ $scope }}">
        </label>
    </div>
    {{ end }}

    <input type="hidden" id="request_id" name="request_id" value="{{ .RequestID }}">

    <div class="form-group">
        <button type="submit" class="btn btn-default">Approve</button>
    </div>
</form>
{{ end }}